<% content_for :title, "Books" %>
<h1>Books</h1>

<%= form_tag(search_books_path, :method => "get") do %>
  <div class="grid">

    <%= search_field_tag(:q, params[:q], placeholder: "Search by title, author name or genre") %>
    <%= submit_tag("Search") %>
  </div>
<% end %>


<% if params[:q].present? && @books.blank? %>
  <h3>No records found.</h3>
<% end %>


<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
